{var $section = $menuArr[0]}
{block menu}
	<ul>
		{foreach $section as $item}
		<li><a href="{plink $item->url}" {ifCurrent $item->url}class="current"{/ifCurrent}>{$item->menu_title}</a>
			{if isset($menuArr[$item->id])}
				{include menu, section => $menuArr[$item->id]}
			{/if}
		</li>
		{/foreach}
	</ul>
{/block}