{block content}
<div class="padd10px25px">
	<h2 n:block=title>Vitajte v myNetteCMS.</h2>
	
	<div n:foreach="$flashes as $flash" class="flash">{$flash->message}</div>
	
	<div class="content">
		<ul n:inner-foreach="$users as $item">
			<li>{$item->id} {$item->username}</li>
		</ul>
	</div>
</div>